/* 3.2 About */

#about {
   background-color: var(--orange);
   color: var(--shadow);
}

.text {
   color: var(--title);
}

.btns {
   padding: 1rem 2rem;
   font-weight: 700;
   color: hsla(76, 4%, 50%, 1);
   transition: 0.3s;
   border: 1px solid var(--shadow);
}

.btns:hover {
   transform: scaleY(1);
   background-color: var(--shadow);
}

.text-intro {
   font-size: 1.5rem;
}

.social-icons {
   display: inline-block;
}

.social-icons a {
   text-decoration: none;
   margin-right: 14px;
   margin-top: 10px;
}

.social-icons a img {
   width: 30px;
   height: 30px;
}

.profile {
   padding: 0.5rem;
   transition: all 0.5s;
   border: 3px solid var(--yellow);
}

.profile::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   transform: rotate(0deg);
   z-index: -1;
   transition: 0.5s;
   border: 3px solid var(--yellow);
}

.profile::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   transform: rotate(0deg);
   z-index: -1;
   transition: 0.5s;
   border: 3px solid var(--yellow);
}

.active .profile::before {
   transform: rotate(-6deg);
   transition-delay: 1s;
}

.active .profile::after {
   transform: rotate(7deg);
   transition-delay: 1s;
}

.profile img {
   box-shadow: 0 5px 15px 5px rgba(16 16 16 10%);
}

@media screen and (max-width: 64rem) {
   .text-white {
      font-size: 2.5rem;
   }
   .text-intro {
      font-size: 1.25rem;
   }
}
