/* ---------------------------- 

Created By Ramkumar .M

1.Global
     1.1 Root Colours
     1.2 Font Initialize
     1.3 ScrollBar Change
     1.4 Background ScrollLock
     1.5 ScrollDown Text
     1.6 Progress Navbar

2.Navigation Menu
     2.1 Navbar Main
     2.2 Navbar Mobile

3 Sections 
     3.1 Home
     3.2 About
     3.3 Education

 ---------------------------- */

/* ------------------------------
          1.Global 
------------------------------ */

/* 1.1 Root Colours */
:root {
   --dark-gray: hsla(162, 7%, 45%, 1);
   --isabelline: hsla(340, 100%, 99%, 1);
   --shadow: #170426;
   --title: #ff1462;
   --yellow: rgb(255, 236, 214);
   --orange: rgb(255, 242, 241);
   --green: rgb(233, 255, 240);
   --pink: rgb(255, 241, 252);
}

/* 1.2 Font Initialize */

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

body {
   font-family: "DM Sans", sans-serif;
   color: var(--isabelline);
   transition: all 0.4s;
   font-size: 16px;
   font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "DM Sans", sans-serif;
}

a,
a:hover {
   color: var(--isabelline);
   text-decoration: none;
}

/* 1.3 ScrollBar Change */
::-webkit-scrollbar {
   width: 8px;
   height: 8px;
}

::-webkit-scrollbar-thumb {
   cursor: pointer;
   background: var(--title);
}

::selection {
   color: var(--pink);
   background-color: var(--title);
}

::-moz-selection {
   color: var(--pink);
   background-color: var(--title);
}

section {
   background-position: 50%;
   background-size: cover;
}

@import url("./_utlis.css");

/* Banner Page */
@import url("./pages/_banner.css");

/* About Page */
@import url("./pages/_about.css");

/* Skill Page */
@import url("./pages/_skills.css");

/* Portfolio and Blog page */
@import url("./pages/_portfolio.css");

.dPjdcl {
   background-color: transparent;
}
